**

!Cargo.toml
!Cargo.lock
!apps/
!apps/**
!crates/
!crates/**
!plugins/
!plugins/qimen-plugin-example/
!plugins/qimen-plugin-example/**
!web/
!web/admin/
!web/admin/**
!config/
!config/plugin-state.toml
!deploy/
!deploy/docker/
!deploy/docker/**

web/admin/node_modules
web/admin/dist
target
*.db
*.db-shm
*.db-wal
.env
deploy/docker/.env
data
